<style>
    
</style>
 <div id="archive-container" class="collapse">
    <div class="card-container">
        <ul id="vertical-cards">
            <li id="info" class="active-card" 
                style="background-color: rgb(96, 157, 159);
                border-right-color: rgb(96, 157, 159);
            "> 
                info
            </li>
            <li id="common" style="background-color:  rgb(146, 170, 171);">
                common
            </li>
        </ul>
        <div>
            <ul id="horizontal-cards">
            </ul>
            <div id="card">
                <span>
                    Hello! <br>
                    The numbers above represent <br>
                    the word's length in the found text. <br>
                    Click on this to see all words <br>
                    with that defined length. <br>
                </span>
            </div>
        </div>
    </div>
 </div>










