
<div id="container-user-text-menu">
    <div>
        <textarea name="" id="text-area-user-text" cols="30" rows="10">
        </textarea>
    </div>
    <div>
        <input type="file" accept=".txt,.pdf" class="button-style" id="input-choose-file">
        <div id="buttons-panel">
            <div id="icons">
                <div id="trash" class="icons-style"></div>
                {{!-- <div id="download" class="icons-style"> </div> --}}
            </div>
                <button id="bnt-start-count-word" class="button-style">
                    start count word
                </button>
            </div>
    </div>
</div>
