<div id="input-user">
    
  <span id="progress-bar" class="hidden">0</span> 
  <div id="text-area-user-text">
    <div id="text-container">
      {{!-- <p>Downloader pdf format</p> --}}
    </div>
  </div>

</div>